<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="video_device" default="/dev/video0" />
  <arg name="camera_width" default="640" />
  <arg name="camera_height" default="480" />
  <arg name="output_width" default="416" />
  <arg name="output_height" default="312" />
  <arg name="output_fps" default="10.0" />
  <arg name="jpeg_quality" default="70" />

  <include file="$(find robot_vision)/launch/usb_cam.launch">
    <arg name="video_device" value="$(arg video_device)" />
    <arg name="image_width" value="$(arg camera_width)" />
    <arg name="image_height" value="$(arg camera_height)" />
  </include>

  <node pkg="robot_vision"
        type="image_compressor.py"
        name="image_compressor"
        output="screen">
    <param name="input_topic" value="/usb_cam/image_raw" />
    <param name="output_topic" value="/uav/image_preprocessed/compressed" />
    <param name="output_width" value="$(arg output_width)" />
    <param name="output_height" value="$(arg output_height)" />
    <param name="output_fps" value="$(arg output_fps)" />
    <param name="jpeg_quality" value="$(arg jpeg_quality)" />
  </node>
</launch>
